%h1= SiteConfig.is_alive
%h2 
  June 1, 1937 - Present

%p 
  Written by 
  %a{:href => "http://ryanclosner.com"} @rclosner
  in tribute to
  %a{:href => "http://en.wikipedia.org/wiki/Morgan_Freeman"} Morgan Freeman
