%h1= SiteConfig.is_alive
%h2 
  June 1, 1937 - Present

%p 
  Written by 
  %a{:href => "http://ryanclosner.com"} @rclosner
  in tribute to
  %a{:href => "http://en.wikipedia.org/wiki/Morgan_Freeman"} Morgan Freeman
%p
  :javascript
    google_ad_client = "ca-pub-2299249505466023";
    /* Morgan Freeman Alive */
    google_ad_slot = "8115271479";
    google_ad_width = 300;
    google_ad_height = 250;
  :javascript
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
